
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.04em;
	}

a{text-decoration: none;}

.container{
	width: 830px;
	margin: 0 auto;
	max-width: 90%;
	/*perspective: 900px;*/
}

main{
	padding-top: 65px;
	padding-bottom: 30px;
}

.logo{
	height: 100px;
	margin-bottom: 30px;
}

h1{
	color: #566270;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom:0.2em
}


h1 span{
	color: #8CD790;
}


h2{
	color: #a3a1a1;
}

p{
	width:700px;
	max-width: 90%;
	line-height: 26px;
	font-size: 18px;
	font-weight: 600;
	color: #566270;
}

.button{
	padding: 16px 27px;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	background: lightgray;
	color: #333;
	border-radius: 8px;
	transition: all .3s ease;
	display: inline;

	/*margin-right: 8px;*/
}

.button:active{
	transform: translateY(2px);
}

.button.btn-black{
	background: #566270;
	color: white;
}

.button.btn-black:hover{
	background: #3b424a;
}


.button.btn-default{
	background: lightgray;
	color: #566270;
}

.button.btn-default:hover{
	background: #c1c1c1;
}

.button.disabled{
	opacity: .16;
	cursor: default;
}

.tw-acc{
	color: #8CD790;
}
