
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.04em;
	}

a{text-decoration: none;}

main{
	width: 830px;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 30px;
	max-width: 90%;
	perspective: 900px;
}


h1{
	color: #566270;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom:0.2em
}


h1 span{
	color: #8CD790;
}


h2{
	color: #a3a1a1;
}

p{
	width:700px;
	max-width: 90%;
	line-height: 26px;
	font-size: 18px;
	font-weight: 600;
	color: #566270;
}

.button.btn-black{
	padding: 10px 25px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background: #566270;
	color: white;
	border-radius: 8px;
	transition: all .3s ease, transform .15s ease;
	display: inline-block;
	margin-right: 8px;
}

.button.btn-black.disabled{
	opacity: .16;
	cursor: default;
}

.tw-acc{
	color: #8CD790;
}

.button.btn-black:hover{
	background: #3b424a;
}

.button.btn-black:active{
	transform: translateY(2px);	
}

.logo{
	height: 100px;
	margin-bottom: 30px;
}